#nav-bar.nav-bar.position-absolute
    ul
        li#link-top
            a(href='#')
                .selector-ele.link-light ⌂
        p.link-top-sep /
        li#link-me
            a(href='#me')
                .selector-ele.link-light= sections.navbar.me
        p /
        li#link-skills
            a(href='#skills')
                .selector-ele.link-light= sections.navbar.skills
        p /
        li#link-stuff
            a(href='#projects')
                .selector-ele.link-light= sections.navbar.projects
        .langs
            each lang in translations.langs
                if lang.id != translations.currentId
                    a.langs-button(href=lang.link)= lang.shortname

    
    button#highlight-toggle-web.green(title='Toggle web dev highlighting.') Web Dev
    button#highlight-toggle-systems.blue(title='Toggle systems highlighting.') Systems Dev
