a#me.anchor
#section-me.section.me
  .container
    h2.text-center About Me
    p.tab-1.string
      | My name is Miikka Ylätalo, and I live in Finland. I'm mostly known as Mehis on the web, hence the name of the site. I mod games and maintain game servers as a hobby.
      br
      | When I'm not working on my projects, you can find me messing around with older games. For the background noise I have electronic music, mostly drum &amp; bass and ambient.
