a#me.anchor
#section-me.section.me
    .container
        h2.text-center About Me
        != cvData.aboutMe
        .education.my-text-light
            p.text-center Education
            table.d-flex.justify-content-center
                tbody
                    tr
                        td
                            strong Häme University of Applied Sciences
                            br
                            | Information And Communications Technology
                            br
                            strong 2019-
                        td
                            strong Tavastia Vocational College 
                            | (upper secondary)
                            br
                            | Information And Communications Technology
                            br
                            | High school diploma
                            br
                            strong 2013-2016
