a#skills.anchor
.section.skills
    .container
        h2.text-center= sections.skillLists.name
        p.my-text-light!= sections.skillLists.desc

        - const MAX_RATING = 5;
        .row
            each skillList in skillLists
                .col-sm
                    h4.text-center= skillList.name
                    -
                        let list_classes = ' ';
                        if (skillList.skills.length > 5)
                            list_classes += 'print-skill-do-columns';
                    div(class='skill-list'+list_classes)
                        table
                            tbody
                                each skill in skillList.skills
                                    -
                                        let rowclass = '';
                                        if (skill.markWeb)
                                            rowclass += 'highlight-web';
                                        if (skill.markSystems)
                                            rowclass +=
                                                (rowclass !== '' ? ' ' : '') + // Insert space if there already is a class.
                                                'highlight-systems';
                                    tr(class= rowclass)
                                        td.skill-text
                                            .skill-name= skill.name
                                            - if (skill.refs)
                                                each ref in skill.refs
                                                    a.skill-ref(href='#project-'+ref)
                                        //- Skill rating
                                        td
                                            - for (let i = 0; i < skill.rating; i++)
                                                | &block;
                                            - const out_of = MAX_RATING - skill.rating;
                                            - for (let i = 0; i < out_of; i++)
                                                | &blk14;
                            //- End of skill loop
            //- End of skill list loop