.site-head
    include nav-bar.pug
    .head-center
        .head-image
            a(href='#')
                img.my-face(src='img/myface2.jpg' alt='Logo')
        .head-text
            p.text-center.title-text A guy who creates stuff with code
            .social-links-container
                a(href='https://github.com/TotallyMehis' target='_blank')
                    .social-link
                        img(src='img/GitHub-Mark-32px.png' alt='Github Logo')
                        | 
                        p.no-print Github
                        p.print github.com/TotallyMehis
                //-
                    a(href="" target="_blank")
                        .social-link
                            img(src="img/GitHub-Mark-32px.png" alt="Github Logo")
                            p LinkedIn
