.site-head
    include nav-bar.pug
    .head-center
        .head-image
            a(href='#')
                img.my-face(src='img/myface2.jpg' alt='Logo')
        .head-text
            p.title-text= sections.head.name
            .social-links-container
                    .social-link
                        a(href='https://github.com/TotallyMehis' target='_blank')
                            img(src='img/GitHub-Mark-32px.png' alt='Github Logo')
                            | 
                            p.no-print Github
                            p.in-print github.com/TotallyMehis
                    .social-link.print
                        a(href='https://mehis.xyz' target='_blank')
                            img(src='img/icon02.png' alt='CV Icon')
                            | 
                            p mehis.xyz