
/* TODO: Use sass or some shit */
:root {
	--navbar-height: 3.3rem;
	--anchor-height: -3.3rem;
	--project-padding: 2.5rem;

	--project-anchor-padding: -5.7rem;
}

html {
	font-size: 0.9em;

	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	
	background-color: #f2f2f2;
	color: #333;
	
	background-repeat: repeat;
	/*background-size: cover;*/
	background-position: top center;
	background-image: url('../img/bg001.png');

	overflow-x: hidden;
}

a {
	transition: 0.2s;
}

a.anchor {
    display: block;
    position: relative;
    top: var(--anchor-height);
    visibility: hidden;
}

h2 {
	margin-bottom: 1rem;
}

footer {
	margin-top: 120px;
	padding-bottom: 10px;
	
	font-size: 8pt;
}

.sticky {
	position: fixed;
	top: 0;
}

.nav-bar.sticky {
	background-color: white;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	z-index: 100;
}

.nav-bar {
	height: var(--navbar-height);
	width: 100%;
	overflow: hidden;
}

.nav-bar p {
	display: table-cell;
	vertical-align: middle;
	color: #aaaaaa;
}

.nav-bar ul {
	display: table;
	list-style: none;
	margin: 0;
	margin-left: 2rem;
	padding: 0;
	vertical-align: middle;
	height: 100%;
	float: left;
}

#link-top, .link-top-sep {
	visibility: hidden;
}

.sticky #link-top, .sticky .link-top-sep {
	visibility: visible;
}


.nav-bar li {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.nav-bar li a {
	display: block;
	padding: 0 0.6rem;
	
	font-size: 16pt;
}

.nav-bar button.green {
	--rgb: 0, 255, 0;
}

.nav-bar button.blue {
	--rgb: 0, 0, 255;
}

.nav-bar button {
	float: right;
	height: 100%;

	border: none;
	outline: none;

	transition: 0.1s;
	background-color: transparent;

	padding: 0 1rem 0 1rem;

	color: #333;
	font-size: 14pt;
}

.nav-bar button:hover {
	background-color: rgba(var(--rgb),0.2);
}


.nav-bar button.pressed {
	background-color: rgba(var(--rgb),0.3);
}

#highlight-toggle-web {
	margin-right: 2rem;
}

.site-head {
	height: 300px;
	
	background-repeat: repeat;
	background-size: cover;
	background-position: top center;
	background-image: url('../img/bg002.png');
	
	overflow: hidden;
}

.nav-bar a {
	text-transform: uppercase;
}

.site-head p {
	vertical-align: middle;
	pointer-events: none;
}

.head-center {
	width: 400px;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	padding-top: 10px;
}

.my-face {
	display: block;
	width: auto;
	max-width: 100%;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius: 50%;
	border-style: double;
	border-color: white;
}

.title-text {
	font-size: 1.5rem;
	font-weight: 300;
}

.social-links-container {
	display: table;
	margin: 0 auto;
}

.social-link {
	display: table-cell;
	padding: 10px 20px;
}

.social-link * {
	display: inline-block;
}

.social-link p {
	vertical-align: middle;
	margin: 0;
}

.section-break {
	height: 3rem;
}

.section {
	transition: 0.2s;
	
	padding: 2rem 0 2rem 0;
	
	background-color: #ffffff;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.desc {
	font-size: 14pt;
	margin-bottom: 0.5rem;
}

.education table {
	font-size: 10pt;
}

.education td {
	padding: 0 2rem 0 2rem;
}

.project h4 {
	margin-bottom: 1rem;
	display: inline-block;
}

.project .links {
	display: inline-block;
	word-spacing: 4pt;
	
	margin-left: 1.5rem;
	margin-bottom: 0rem;
}

/* Testing fade in bg img */
/*
.project .bg {
	position: absolute;
	top: 0;
	width: 400px;
	height: 100%;
	z-index: -1;

	right: 0;
	background: linear-gradient(to left,rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 100%), url('../img/bg001.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
*/

.tech-used {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-weight: 900;
}

td.skill-text {
	padding-right: 0.5rem;
}

td .skill-name {
	display: inline-block;
	vertical-align: middle;
}

td .skill-specifics {
	display: inline-block;
	font-size: 0.8rem;
	vertical-align: bottom;
	margin-left: 0.1rem;
}

td .skill-ref {
	font-size: 8pt;
	vertical-align: top;
	text-align: left;
	padding: 0 0.2rem;
}

.highlight-web {
	transition: 1s;
	background-color: transparent;
	--rgb: 0, 255, 0;
}

.highlight-systems {
	transition: 1s;
	background-color: transparent;
	--rgb: 0, 0, 255;
}

.highlight-web.highlight-systems {
	--rgb: 0, 255, 255;
}

.highlight-now {
	background-color: rgba(var(--rgb),0.2);
}

.highlight-ref {
	background-color: rgba(0, 0, 0, 0.2);
}

.project-highlight {
	position: absolute;
	top: 0;
	height: 100%;
	margin-left: -50%;
	width: 500%;
}

/*
	TODO: Replace this stuff
*/
td .skill-ref[href='#project-zmr']::before {
	content: '[1';
}

td .skill-ref[href='#project-influx']::before {
	content: '[2';
}

td .skill-ref[href='#project-ezauto']::before {
	content: '[3';
}

td .skill-ref[href='#project-sfuws']::before {
	content: '[4';
}

td .skill-ref[href='#project-ssdb']::before {
	content: '[5';
}

td .skill-ref[href='#project-interview']::before {
	content: '[6';
}

td .skill-ref[href='#project-this-site']::before {
	content: '[7';
}

td .skill-ref::after {
	content: ']';
}

.section.stuff .project {
	padding: var(--project-padding) 0;
	transition: 0.5s;
	position: relative;
	z-index: 0;

	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.section.stuff .project:last-child {
	border-bottom: none;
}

.project .anchor {
	top: var(--project-anchor-padding);
}

.section.skills table {
	margin: 0 auto;
	white-space: nowrap;
}

.section.skills .col-sm {
	margin: 0.5rem 0 0.5rem 0;
}

.my-text-light {
	color: #777777;
}

@media (max-width: 880px) {
	.head-center {
		padding-top: 45px;
	}
	
	.site-head {
		height: 340px;
	}

	/*
	.project .bg {
		display: none;
	}
	*/

	#highlight-toggle-web {
		margin-right: 0;
	}
}

@media (max-width: 700px) {
	.nav-bar button {
		display: none;
	}
}

@media (max-width: 450px) {
	.nav-bar ul {
		margin: 0 auto;
		width: 100%;
	}

	.nav-bar li a {
		padding: 0 0.5rem;
	}
}


