doctype html
html
  head
    meta(charset='UTF-8')
    title Miikka Ylätalo
    link(rel='shortcut icon' type='image/png' href='img/icon.png')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // SEO
    meta(name='title' content='Miikka Ylätalo')
    meta(name='description' content='Miikka Ylätalo’s CV site, showcasing various programming projects.')
    meta(name='keywords' content='miikka, ylätalo, mehis, portfolio, cv, project')
    meta(name='author' content='Miikka Ylätalo')
    meta(name='thumbnail' content='https://mehis.xyz/img/myface2.jpg')
    script(type='application/ld+json')
      ="{'@context':'http://schema.org','@type':'Person','name':'Miikka Ylätalo','image':'img/myface2.jpg','logo':'img/myface2.jpg','url':'https://mehis.xyz'}"
    // Open Graph
    meta(property='og:image' content='https://mehis.xyz/img/myface2.jpg')
    // Bootstrap
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    
    //- Not used?
    //-script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    //-script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    
    // My stuff
    link(rel='stylesheet' type='text/css' href='css/main.css')
    script(src='js/site.js')
  body

    // Site head
    include includes/site-head.pug

    // Start content
    .site-content

      // About Me
      include includes/section-me.pug

      .section-break

      // Skills
      include includes/section-skills.pug

      .section-break

      // Projects
      include includes/section-projects.pug
    
    // Footer
    footer.text-center
      | Site by Miikka Ylätalo
      br
      | Hosted on 
      a(href='https://pages.github.com/' target='_blank') Github Pages
